/*
 * @Description: eslint配置
 * @Author: 吴锦辉
 * @Date: 2021-11-23 14:09:22
 * @LastEditTime: 2021-11-23 16:56:41
 */

{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "configFile": "./.babelrc"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "import",
    "jsx-a11y",
    "prettier",
    "react",
    "react-hooks"
  ],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",

    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",

    "no-console": "off",
    "no-nested-ternary": "off",
    "no-shadow": "off",
    "no-unused-expressions": "off",

    "prettier/prettier": "error",

    "react/destructuring-assignment": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx",
          ".tsx"
        ]
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/prop-types": "off",

    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error"
  }
}
